
@media only screen and (max-width: 1024px){
/* generated in /home/nrw/public_html/wp-content/themes/magazinevibe/assets/custom-styles/general-custom-styles-responsive.php magazinevibe_edge_content_responsive_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner, .edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner { padding-top: 0px!important;}

}

@media only screen and (min-width: 480px) and (max-width: 768px){
	}

@media only screen and (max-width: 480px){
	}